body{
	text-align:center;
	font-family: 'Dosis', sans-serif;
}
#title{
	background-image: linear-gradient(to bottom left, blue, aquamarine);
	padding-top:76px;
	padding-bottom:36px;
}
h1{
	font-size: 56px;
}
#pe{
	font-size: 45px;
}
#wer{
	background-image: linear-gradient(to bottom left, black, dimgrey);
	color: white;
	padding-top: 34px;
	padding-bottom: 20px;
}
#er{
	z-index: 2;
	list-style: none;
	position:absolute;
	top: 10px;
	right: 30px;
	cursor: pointer;
}
.ids{
	float: left;
	font-family: 'Roboto Mono', monospace;
	padding-top: 20px;
	padding-left: 7px;
	padding-bottom: 30px;
	padding-right: 4px;
	font-weight: bold;
}
.ids:hover{
	background-color: aliceblue;
}
